@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


/* NAVIGATION */
.bar{
    @apply w-9 hover:scale-105 cursor-pointer;
    margin-left: 80vw;
}

#menus{
    @apply lg:bg-none footer-gradient;
    @media (min-width: 1020px) {
        position: unset;
        grid-template-columns: repeat(6, max-content);
        width: auto;
    }
}



.remove-mobile-nav{
    right: -100%;
    transition: all .2s ease-in-out;
}

.add-mobile-nav{
    right: 0;
    transition: all .2s ease-in-out;
}

.menuItem{
    @apply rounded-sm primary-block flex lg:mr-4 mb-6 lg:mb-0 px-2 py-2 bg-primary-800 lg:bg-slate-50 lg:bg-opacity-50 text-lg uppercase lg:hover:shadow-lg hover:font-bold               ;
    span{
        @apply mr-3 lg:mr-0;
    }
}

.menu-bar-mobile{
    @apply h-12 mr-4 z-10;
}

.footer{
    @apply py-7 lg:px-10 px-7 footer-gradient text-nf-text;
}

#nav{
    @apply footer-gradient h-16 lg:h-28 z-50 relative ;
}



/* HEADING */
.secondary{
    @apply text-3xl lg:text-5xl;
}

.tertiary{
    @apply text-2xl lg:text-3xl;
}

.heading-gradient{
    @apply bg-gradient-to-r from-gray-700 to-text text-transparent bg-clip-text font-bold;
}

.margin-heading{
    @apply mb-5 text-start;
}
.marginTertiary-heading{
    @apply mt-7 mb-3;
}
.span-heading{
    @apply bg-gradient-to-r from-primary-500 to-primary-300 text-transparent bg-clip-text;
}






/* TEXT */
.padding-text{
    @apply lg:p-3 p-2;
}
.marginBottom-text{
    @apply mb-5;
}
.hover-text{
    @apply hover:shadow-md transition ease-out duration-200;
}

.span-text{
    @apply font-bold;
}

.tick{
    @apply w-5 mt-1 mr-2;
}

.bg-blur{
    @apply bg-gray-800 bg-opacity-30 backdrop-blur-lg drop-shadow-lg;
}

.footer-gradient{
    @apply bg-gradient-to-r from-gray-700 to-gray-900;
}

.border-desktop{
    @apply lg:border lg:border-r lg:border-transparent lg:border-r-gray-500 lg:pr-6;
}

.border{
    @apply border-b border-b-gray-400 border-transparent;
}

.margin-section{
    @apply mb-28 lg:mb-36;
}

.margin-general{
    @apply mx-7;
}

.padding-general{
    @apply px-7;
}
.link{
    @apply text-text font-bold text-start underline;
}

p{
    @media (min-width: 1023px) {
        font-size: 17px;
    }
    
}

section{
    @apply my-20 lg:my-32 margin-general mx-7;
}
.body{
    @apply text-text font-body bg-background;
}
.grid-decor{
    @apply border-2 border-spacing-1 p-2 border-primary-300 rounded;
}
.books{
    @apply grid-decor;
}
.header{
    @apply padding-general margin-heading;
}
.primary{
    @apply secondary font-bold heading-gradient text-center;
}

.block_{
    @apply  rounded shadow-lg shadow-gray-400 grid content-center text-center hover:shadow-2xl transform hover:-translate-y-1 hover:shadow-gray-600 transition duration-150 ease-out hover:cursor-pointer;
}

.gray-block{
    @apply bg-gradient-to-r from-gray-700 to-gray-900
}

.primary-block{
    @apply bg-gradient-to-r from-primary-700 to-primary-800
}

.listItem{
    @apply w-44 sm:w-auto text-center px-4 py-1 rounded-lg hover:shadow-lg transform hover:-translate-y-1 transition-all duration-300 hover:cursor-pointer hover:font-bold;
}

.glass{
    @apply bg-white bg-opacity-20 backdrop-blur-lg drop-shadow-lg rounded-sm;
}